<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Hakstrace</title>
  <meta name="description" content="Angularjs, Html5, Music, Landing, 4 in 1 ui kits package" />
  <meta name="keywords" content="AngularJS, angular, bootstrap, admin, dashboard, panel, app, charts, components,flat, responsive, layout, kit, ui, route, web, app, widgets" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/lib/angularjs-toaster/toaster.css" type="text/css" />
  <link rel="stylesheet" href="/lib/angular-xeditable/dist/css/xeditable.css" type="text/css" />
  <link rel="stylesheet" href="/lib/plugins/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/lib/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/lib/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/resources/css/font.css" type="text/css" />
  <link rel="stylesheet" href="/resources/css/app.css" type="text/css" />
</head>
<body ng-controller="AppCtrl">
  <div class="app" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view></div>


  <!-- jQuery -->
  <script src="./lib/jquery/dist/jquery.min.js"></script>
  <script src="./lib/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="./lib/plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <!-- Angular -->
  <script src="./lib/angular/angular.js"></script>

  <script src="/lib/angular-animate/angular-animate.js"></script>
  <script src="/lib/angular-cookies/angular-cookies.js"></script>
  <script src="/lib/angular-datatables/dist/angular-datatables.min.js"></script>
  <script src="/lib/angular-resource/angular-resource.js"></script>
  <script src="/lib/angular-route/angular-route.js"></script>
  <script src="/lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="/lib/angular-touch/angular-touch.js"></script>
  <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="/lib/ngstorage/ngStorage.js"></script>
  <script src="/lib/angular-ui-utils/ui-utils.js"></script>
  <script src="/lib/angularjs-toaster/toaster.js"></script>
,
  <!-- bootstrap -->
  <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- lazyload -->
  <script src="/lib/oclazyload/dist/ocLazyLoad.js"></script>
  <!-- translate -->
  <script src="/lib/angular-translate/angular-translate.js"></script>
  <script src="/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="/lib/angular-translate-storage-local/angular-translate-storage-local.js"></script>

  <!-- App -->

  <script src="/app/app.client.module.js"></script>
  <script src="/app/config/app.client.routes.js"></script>
  <script src="/app/controllers/app.client.controller.js"></script>
  <script src="/app/services/app.client.service.js"></script>

  <script src="/admin/admin.client.module.js"></script>
  <script src="/admin/config/admin.client.routes.js"></script>
  <script src="/admin/controllers/admin.client.controller.js"></script>
  <script src="/admin/services/admin.client.service.js"></script>

  <script src="/app/directives/setnganimate.js"></script>
  <script src="/app/directives/ui-butterbar.js"></script>
  <script src="/app/directives/ui-focus.js"></script>
  <script src="/app/directives/ui-fullscreen.js"></script>
  <script src="/app/directives/ui-jq.js"></script>
  <script src="/app/directives/ui-module.js"></script>
  <script src="/app/directives/ui-nav.js"></script>
  <script src="/app/directives/ui-scroll.js"></script>
  <script src="/app/directives/ui-shift.js"></script>
  <script src="/app/directives/ui-toggleclass.js"></script>
  <script src="/app/controllers/bootstrap.js"></script>
  <!-- Lazy loading -->

  <script src="/application.js"></script>

</body>
</html>
