<section>
  <div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MainDashboardCtrl">
    <!-- main -->
    <div class="col">
      <!--<div class="bg-black dker wrapper-lg">-->
      <div class="bg-light wrapper-lg">
        <div>
          <h3 class="m-t-0">Real-time Graph(/{{interval}}sec)</h3>
        </div>
        <div>
          <nvd3 options="options" data="data" config="{refreshDataOnly: true}"></nvd3>
        </div>
        <!--<div ui-jq="plot" ui-refresh="d0_1" ui-options="-->
        <!--[-->
        <!--{ data: {{d0_1}}, points: { show: true, radius: 2}, splines: { show: true, tension: 0.4, lineWidth: 1 } }-->
        <!--],-->
        <!--{-->
        <!--colors: ['{{app.color.info}}', '{{app.color.primary}}'],-->
        <!--series: { shadowSize: 3 },-->
        <!--xaxis:{ font: { color: '#507b9b' } },-->
        <!--yaxis:{ font: { color: '#507b9b' }, max:16 },-->
        <!--grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },-->
        <!--tooltip: true,-->
        <!--tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }-->
        <!--}-->
        <!--" style="min-height:360px" >-->
        <!--</div>-->
      </div>
      <div class="wrapper-md bg-white-only b-b">
        <div>
          <h3 class="m-t-0">Hourly status</h3>
        </div>
        <div class="row text-center">
          <div class="col-sm-4 col-xs-6" ng-controller="PanelController" ng-repeat="project in projects">
            <div class="panel {{panelClass}}">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa {{faIcon}} fa-4x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge" ngx-fade-toggle="totalVisible">{{project.total | number:0}}</div>
                    <div>Top Browser</div>
                    <div>{{project.topBrowser}}</div>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer">
                  <span class="pull-left">Project : {{project.key}}</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-black dk bg-auto">
      <div class="wrapper">
        <div class="m-b-sm text-md">Who to follow</div>
        <ul class="list-group no-bg no-borders pull-in">
          <li class="list-group-item">
            <a href class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>

            <div class="clear">
              <div><a href>Chris Fox</a></div>
              <small class="text-muted">Designer, Blogger</small>
            </div>
          </li>
          <li class="list-group-item active">
            <a href class="pull-left thumb-sm avatar m-r">
              <img src="img/a5.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>

            <div class="clear">
              <div><a href>Mogen Polish</a></div>
              <small class="text-muted">Writter, Mag Editor</small>
            </div>
          </li>
          <li class="list-group-item">
            <a href class="pull-left thumb-sm avatar m-r">
              <img src="img/a6.jpg" alt="..." class="img-circle">
              <i class="busy b-white bottom"></i>
            </a>

            <div class="clear">
              <div><a href>Joge Lucky</a></div>
              <small class="text-muted">Art director, Movie Cut</small>
            </div>
          </li>
          <li class="list-group-item">
            <a href class="pull-left thumb-sm avatar m-r">
              <img src="img/a7.jpg" alt="..." class="img-circle">
              <i class="away b-white bottom"></i>
            </a>

            <div class="clear">
              <div><a href>Folisise Chosielie</a></div>
              <small class="text-muted">Musician, Player</small>
            </div>
          </li>
          <li class="list-group-item">
            <a href class="pull-left thumb-sm avatar m-r">
              <img src="img/a8.jpg" alt="..." class="img-circle">
              <i class="away b-white bottom"></i>
            </a>

            <div class="clear">
              <div><a href>Aron Gonzalez</a></div>
              <small class="text-muted">Designer</small>
            </div>
          </li>
        </ul>
        <div class="text-center">
          <a href class="btn btn-sm btn-primary padder-md m-b">More Connections</a>
        </div>
      </div>
    </div>
    <!-- / right col -->
  </div>
</section>
