<section  ng-controller="AdminUserCtrl">
<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n h3">User Management</h1>
</div>
<div class="wrapper-md">

  <div class="panel panel-default">

    <div class="panel-body">
      <form class="form-inline" role="form">

        <span class="pull-right">
          <script type="text/ng-template" id="admin-user-create.template">
            <div ng-include="'/admin/views/admin-user-create.client.view.html'"></div>
          </script>
          <button type="button" ng-click="openUserCreateModal()" class="btn btn-success">
            <i class="glyphicon glyphicon-plus">
            </i> Create User
          </button>
        </span>

        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox m-l m-r-xs">
          <label class="i-checks">
            <input type="checkbox"><i></i> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>

      </form>
    </div>
    <div class="table-responsive">
      <!--
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: '/api/admin/users',
          sAjaxDataProp: '',
          aoColumns: [
            { mData: 'email' },
            { mData: 'name' }
          ]
        }" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">email</th>
            <th  style="width:25%">name</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    -->
      <table datatable="ng" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th>email</th>
            <th>name</th>
            <th>auth</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.auth.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
