<section  ng-controller="AdminUserCtrl">
<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n h3">User Management</h1>
</div>
<div class="wrapper-md">

  <div class="panel panel-default">

    <div class="panel-body">

        <div class="col-md-8">
            <div class="input-group">
              <div class="input-group-btn dropdown" dropdown>
                <button type="button" class="btn btn-default" dropdown-toggle>Filters <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href ng-click="listUsersByFilter()">All (No Filter)</a></li>
                  <li class="divider"></li>
                  <li><a href ng-click="listUsersByFilter('Administrator')">Administrators Only</a></li>
                  <li><a href ng-click="listUsersByFilter('Manager')">Managers Only</a></li>
                  <li><a href ng-click="listUsersByFilter('User')">Users Only</a></li>
                </ul>
              </div><!-- /btn-group -->
              <input ng-model="searchFilterText" ng-enter="listUsers()" type="text" class="form-control">
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>

        <div class="col-md-4" style="border-left: 1px solid #ccc;">
            <button type="button" ng-click="openUserCreateModal()" class="btn btn-success">
              <i class="glyphicon glyphicon-plus">
              </i> Create User
            </button>
        </div>

    </div>



  </div>



  <div class="panel panel-default">
    <div class="table-responsive">
      <table datatable="ng" dt-options="usersDtOptions" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th>email</th>
            <th>name</th>
            <th>auth</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{ user.email }}
              <a ng-click="openUserDetailModal(user.email)" class="btn btn-default btn-xs m-l-xs">
                <i class="glyphicon glyphicon-user"></i>
              </a>
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.auth.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script type="text/ng-template" id="admin-user-create.template">
      <div ng-include="'/admin/views/admin-user-create.client.view.html'"></div>
    </script>
    <script type="text/ng-template" id="admin-user-detail.template">
      <div ng-include="'/admin/views/admin-user-detail.client.view.html'"></div>
    </script>
  </div>
</div>
</section>
