<div class="modal-body wrapper-lg">
  <div class="row">

      <h3 class="m-t-none m-b font-thin">User Information</h3>
      <p>Create a new user to hakstrace!</p>
      <form role="form">
        <div class="form-group">
          <label>Name</label>
          <input type="email" class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok()"><strong>Log in</strong></button>
          <label class="i-checks">
            <input type="checkbox"><i></i> Remember me
          </label>
        </div>
      </form>

  </div>
</div>
