<section ng-controller="ProjectDetailErrorsCtrl">

  <div class="wrapper" style="display:table;width:100%;">


  <div class="col w-lg lt">
    <div class="vbox">


        <ul class="list-group">
          <li class="list-group-item">
            <!--
            <div class="input-group">
              <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
            </div>
          -->

            <div class="m-b-sm">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">15 mins</button>
                <button type="button" class="btn btn-default btn-sm">1 hour</button>
                <button type="button" class="btn btn-default btn-sm">24 hours</button>
                <button type="button" class="btn btn-default btn-sm">More</button>
              </div>
            </div>


          </li>
          <li class="list-group-item">
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
                <span class="progress-type">HTML / HTML5 error new type undefined ddd</span>
                <span class="progress-completed">201</span>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
                <span class="progress-type">HTML / HTML5</span>
                <span class="progress-completed">201</span>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                    <span class="sr-only">30% Complete</span>
                </div>
                <span class="progress-type">HTML / HTML5</span>
                <span class="progress-completed">201</span>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                    <span class="sr-only">10% Complete</span>
                </div>
                <span class="progress-type">HTML / HTML5</span>
                <span class="progress-completed">201</span>
            </div>


          </li>
          <li class="list-group-item">
              <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
          </li>
        </ul>



    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col" style="padding-left:10px;">

<div class="vbox">


  <div class="panel b-a">
            <div class="text-center m-b clearfix">
              expected expression, got ')' http://localhost:3000/errortest/test003.html
            </div>
            <div class="padder-v b-t b-light bg-light lter row text-center no-gutter">
              <div class="col-xs-4">
                <div>History</div>
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: 30,
                      lineWidth: 3,
                      trackColor: '#e8eff0',
                      barColor: '#7266ba',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                    <div>
                      <span class="step">30</span>%
                    </div>
                  <canvas width="65" height="65"></canvas></div>
                </div>
              </div>

              <div class="col-xs-4">
                <div>Browsers</div>
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: 30,
                      lineWidth: 3,
                      trackColor: '#e8eff0',
                      barColor: '#7266ba',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                    <div>
                      <span class="step">30</span>%
                    </div>
                  <canvas width="65" height="65"></canvas></div>
                </div>
              </div>

              <div class="col-xs-4">
                <div>Devices</div>
                <div class="inline m-t-sm">
                  <div ui-jq="easyPieChart" ui-options="{
                      percent: 30,
                      lineWidth: 3,
                      trackColor: '#e8eff0',
                      barColor: '#7266ba',
                      scaleColor: false,
                      color: '#fff',
                      size: 65,
                      lineCap: 'butt',
                      rotate: 45,
                      animate: 1000
                    }" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
                    <div>
                      <span class="step">30</span>%
                    </div>
                  <canvas width="65" height="65"></canvas></div>
                </div>
              </div>


            </div>
            <div class="hbox text-center b-t b-light">
              <div class="col padder-v b-r b-light">
                <div class="h3 text-info"><b>5032</b></div>
                <span>Occurances</span>
              </div>
              <div class="col padder-v b-r b-light">
                <div class="h3 text-info"><b>689</b></div>
                <span>Users</span>
              </div>
              <div class="col padder-v b-r b-light">
                <div>First Seen at <b class="text-info">05/19/2015 10:34</b></div>
                <div>Last Seen at <b class="text-info">05/19/2015 10:34</b></div>
              </div>
            </div>
          </div>





    <tabset class="tab-container no-scroll">
      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-code"></i>&nbsp; Detail Information
        </tab-heading>

        <div class="panel-body">
          <p>Morbi nec <a href class="text-info">@Jonathan George</a> 대충 에러에 대한 어떠한 정보. 이런 종류의 오류 대응 방안?</p>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Message</th>
              <td>test is not defined</td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td>RefereceError</td>
            </tr>
            <tr>
              <th scope="row">URL</th>
              <td>http://localhost:3000/errortest/test001.html</td>
            </tr>
            <tr>
              <th scope="row">Stack</th>
              <td>onclick@http://localhost:3000/errortest/test001.html:1:1</td>
            </tr>
          </tbody>
        </table>


      </tab>
      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-history"></i>&nbsp; History
        </tab-heading>
        <div class="table-responsive">
          <table datatable="ng" dt-options="scriptDtOptions" class="table table-striped b-t b-b">
            <thead>
              <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Script</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="script in scripts">
                <td>v{{ script.version }}.0</td>
                <td>{{ script.created }}</td>
                <td><pre>{{ script.script }}</pre></td>
              </tr>
            </tbody>
          </table>
        </div>

      </tab>

      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-history"></i>&nbsp; Comments
        </tab-heading>
        <div class="table-responsive">
          <table datatable="ng" dt-options="scriptDtOptions" class="table table-striped b-t b-b">
            <thead>
              <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Script</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="script in scripts">
                <td>v{{ script.version }}.0</td>
                <td>{{ script.created }}</td>
                <td><pre>{{ script.script }}</pre></td>
              </tr>
            </tbody>
          </table>
        </div>

      </tab>
    </tabset>



</div>



  </div>


</div>

</section>
