<section ng-controller="ProjectDetailErrorsCtrl">

  <div class="wrapper" style="display:table;width:100%;">


  <div class="col lt" style="width:400px;">
    <div class="vbox">


        <ul class="list-group">
          <li class="list-group-item">
            <!--
            <div class="input-group">
              <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
            </div>
          -->

            <div class="m-b-sm">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="getErrorTypeSummaryMinutesAgo(30)">30 mins</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="getErrorTypeSummaryMinutesAgo(60*12)">12 hour</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="getErrorTypeSummaryMinutesAgo(60*24)">24 hours</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="getErrorTypeSummaryMinutesAgo(60*24*14)">2 weeks</button>
                <button type="button" class="btn btn-default btn-sm">More</button>
              </div>
            </div>


          </li>
          <li class="list-group-item">
            <div class="progress" ng-repeat="herrorType in errorTypeSummary.list" ng-click="getErrorTypeDetail(herrorType._id._id)">
                <div class="progress-bar progress-bar-danger" style="width: {{(100*herrorType.occurances/errorTypeSummary.totalOccurances)| number:0}}%;">
                    <span class="sr-only">{{herrorType.occurances}}</span>
                </div>
                <span class="progress-type"><a href>{{herrorType._id.message}}</a></span>
                <span class="progress-completed">{{herrorType.occurances}}</span>
            </div>

          </li>
          <li class="list-group-item">
              <p><a href class="text-info">@Josh Long</a>most frequently occured Errors (top 50)</p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i><span am-time-ago="Date.now()"></span></small>
          </li>
        </ul>



    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col" style="padding-left:10px;">

    <div class="vbox">


      <div class="panel b-a">
        <div class="text-center m-b clearfix">
          expected expression, got ')' http://localhost:3000/errortest/test003.html
        </div>
        <div class="padder-v hbox text-center b-t b-light" style="padding:10px 10px 10px 10px;">
          <div>
            <em>from </em><span class="text-muted">{{dateRange.start| date:"MM/dd HH:mm"}}</span> ~
            <em>to </em><span class="text-muted">{{dateRange.end| date:"MM/dd HH:mm"}}</span></strong>
          </div>
          <div class="m-t-sm">
            <canvas class="chart chart-line"
              height="70"
              data="errorTypeHistoryData"
              labels="errorTypeHistoryLabel"
              series="series"
              options="{animation : false, bezierCurve : true, pointDot : false}">
            </canvas>
          </div>
      </div>

            <!--
            <div class="padder-v b-t b-light bg-light lter row text-center no-gutter">

              <div class="col-xs-6">
                <div>Browsers</div>
                <div class="m-t-sm">
                  <canvas class="chart chart-doughnut" height="150"
                    data="errorTypeBrowserShareData"
                    labels="errorTypeBrowserShareLabel"
                    options="{animation : false}">
                  </canvas>
                  <div class="donut-inner">
                    <h5>{{errorTypeBrowserShareHighest.name}}</h5>
                    <span>{{errorTypeBrowserShareHighest.occupancy | number:2}} %</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-6">
                <div>Devices</div>
                <div class="m-t-sm">
                  <canvas class="chart chart-doughnut" height="150"
                    data="errorTypeDeviceShareData"
                    labels="errorTypeDeviceShareLabel"
                    options="{animation : false}">
                  </canvas>
                  <div class="donut-inner">
                    <h5>{{errorTypeDeviceShareHighest.name}}</h5>
                    <span>{{errorTypeDeviceShareHighest.occupancy | number:2}} %</span>
                  </div>
                </div>
              </div>

            </div>
          -->

      <div class="hbox text-center b-t b-light">
        <div class="col padder-v b-r b-light">
          <div class="h3 text-info"><b>5032</b></div>
          <span>Occurances</span>
        </div>
        <div class="col padder-v b-r b-light">
          <div class="h3 text-info"><b>689</b></div>
          <span>Users</span>
        </div>
        <div class="col padder-v b-r b-light">
          <div>First Seen at <b class="text-info">05/19/2015 10:34</b></div>
          <div>Last Seen at <b class="text-info">05/19/2015 10:34</b></div>
        </div>
      </div>
    </div>





    <tabset class="tab-container no-scroll">

      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-code"></i>&nbsp; Sharing
        </tab-heading>

        <div class="panel-body">

          <div class="hbox text-center b-t b-b b-light">
            <div class="col padder-v b-r b-l b-light">
              <div>Browsers</div>
              <div class="m-t-sm">
                <canvas class="chart chart-doughnut"
                  height="220"
                  data="errorTypeBrowserShareData"
                  labels="errorTypeBrowserShareLabel"
                  options="{animation : false}">
                </canvas>
                <div class="donut-inner">
                  <h5>{{errorTypeBrowserShareHighest.name}}</h5>
                  <span>{{errorTypeBrowserShareHighest.occupancy | number:2}} %</span>
                </div>
              </div>
              <ol class="text-left">
                <li><span class="pull-right">{{errorTypeBrowserShareData[0]}}</span>{{errorTypeBrowserShareLabel[0]}}</li>
                <li><span class="pull-right">{{errorTypeBrowserShareData[1]}}</span>{{errorTypeBrowserShareLabel[1]}}</li>
                <li><span class="pull-right">{{errorTypeBrowserShareData[2]}}</span>{{errorTypeBrowserShareLabel[2]}}</li>
              </ol>

            </div>
            <div class="col padder-v b-r b-light">
              <div>Devices</div>
              <div class="m-t-sm">
                <canvas class="chart chart-doughnut"
                  height="220"
                  data="errorTypeDeviceShareData"
                  labels="errorTypeDeviceShareLabel"
                  options="{animation : false}">
                </canvas>
                <div class="donut-inner">
                  <h5>{{errorTypeDeviceShareHighest.name}}</h5>
                  <span>{{errorTypeDeviceShareHighest.occupancy | number:2}} %</span>
                </div>
              </div>
              <ul class="list-group no-radius">
                <li class="list-group-item">
                  <span class="pull-right">45,000</span>
                  <span class="label bg-primary">1</span>
                  .inc company
                </li>
                <li class="list-group-item">
                  <span class="pull-right">23,200</span>
                  <span class="label bg-info">2</span>
                  Gamecorp
                </li>
                <li class="list-group-item">
                  <span class="pull-right">21,000</span>
                  <span class="label bg-warning">3</span>
                  Starup
                </li>
              </ul>
            </div>
            <div class="col padder-v b-r b-light">
              <div>Devices</div>
              <div class="m-t-sm">
                <canvas class="chart chart-doughnut"
                  height="220"
                  data="errorTypeDeviceShareData"
                  labels="errorTypeDeviceShareLabel"
                  options="{animation : false}">
                </canvas>
                <div class="donut-inner">
                  <h5>{{errorTypeDeviceShareHighest.name}}</h5>
                  <span>{{errorTypeDeviceShareHighest.occupancy | number:2}} %</span>
                </div>
              </div>
              <ul class="list-group no-radius">
                <li class="list-group-item">
                  <span class="pull-right">45,000</span>
                  <span class="label bg-primary">1</span>
                  .inc company
                </li>
                <li class="list-group-item">
                  <span class="pull-right">23,200</span>
                  <span class="label bg-info">2</span>
                  Gamecorp
                </li>
                <li class="list-group-item">
                  <span class="pull-right">21,000</span>
                  <span class="label bg-warning">3</span>
                  Starup
                </li>
              </ul>
            </div>
          </div>





        </div>
      </tab>


      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-code"></i>&nbsp; Detail Information
        </tab-heading>

        <div class="panel-body">
          <p>Morbi nec <a href class="text-info">@Jonathan George</a> 대충 에러에 대한 어떠한 정보. 이런 종류의 오류 대응 방안?</p>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Message</th>
              <td>test is not defined</td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td>RefereceError</td>
            </tr>
            <tr>
              <th scope="row">URL</th>
              <td>http://localhost:3000/errortest/test001.html</td>
            </tr>
            <tr>
              <th scope="row">Stack</th>
              <td>onclick@http://localhost:3000/errortest/test001.html:1:1</td>
            </tr>
          </tbody>
        </table>

      </tab>

      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-history"></i>&nbsp; History
        </tab-heading>
        <div class="table-responsive">
          <table datatable="ng" dt-options="scriptDtOptions" class="table table-striped b-t b-b">
            <thead>
              <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Script</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="script in scripts">
                <td>v{{ script.version }}.0</td>
                <td>{{ script.created }}</td>
                <td><pre>{{ script.script }}</pre></td>
              </tr>
            </tbody>
          </table>
        </div>

      </tab>

      <tab>
        <tab-heading>
          <i class="fa-fw fa fa-history"></i>&nbsp; Comments
        </tab-heading>
        <div class="table-responsive">
          <table datatable="ng" dt-options="scriptDtOptions" class="table table-striped b-t b-b">
            <thead>
              <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Script</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="script in scripts">
                <td>v{{ script.version }}.0</td>
                <td>{{ script.created }}</td>
                <td><pre>{{ script.script }}</pre></td>
              </tr>
            </tbody>
          </table>
        </div>

      </tab>
    </tabset>



</div>



  </div>


</div>

</section>
