<section  ng-controller="ProjectDetailCtrl">
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-md bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">

            <div class="wrapper-sm">
              <h2 class="m-t-none">{{project.name}} &nbsp;<small>{{project.projectKey}}</small></h2>
              <div>
                <p>{{project.description}}</p>
              </div>
            </div>


          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">2k</span>
                <small>Followers</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">250</span>
                <small>Following</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li ui-sref-active="active"><a href ui-sref="app.project-detail.stream">Stream</a></li>
        <li ui-sref-active="active"><a href>Dashboard</a></li>
        <li ui-sref-active="active"><a href ui-sref="app.project-detail.errors">Errors</a></li>
        <li ui-sref-active="active"><a href ui-sref="app.project-detail.navtiming">Navgation-Timing</a></li>
        <li ui-sref-active="active"><a href ui-sref="app.project-detail.settings">Settings</a></li>
      </ul>
    </div>
    <div class="padder">
      <div ui-view ></div>
    </div>
  </div>


</div>

</section>
