<section  ng-controller="ProjectSearchCtrl">
<div class="wrapper-md">

  <div class="panel panel-default">

    <div class="panel-body">

        <div class="col-md-8">
            <div class="input-group">
              <div class="input-group-btn dropdown" dropdown>
                <button type="button" class="btn btn-default" dropdown-toggle>Filters <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href ng-click="listUsersByFilter()">All (No Filter)</a></li>
                  <li class="divider"></li>
                  <li><a href ng-click="listUsersByFilter('Administrator')">Administrators Only</a></li>
                  <li><a href ng-click="listUsersByFilter('Manager')">Managers Only</a></li>
                  <li><a href ng-click="listUsersByFilter('User')">Users Only</a></li>
                </ul>
              </div><!-- /btn-group -->
              <input ng-model="searchFilterText" ng-enter="listProjects()" type="text" class="form-control">
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>

    </div>



  </div>



  <div class="panel panel-default">
    <div class="table-responsive">
      <table datatable="ng" dt-options="usersDtOptions" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th>Project Key</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects">
            <td><a ui-serif="app.test">{{ project.projectKey }}</a></td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</section>
