<section ng-controller="ProjectDetailSettingsCtrl">

  <div class="wrapper-md">

<div class="row">
  <tabset class="tabs-right" vertical="true" >
    <tab>
      <tab-heading>
        <i class="fa-fw fa fa-cog"></i>&nbsp; Basic
      </tab-heading>
      <div ng-include="'project/views/project-detail-settings-basic.client.view.html'"></div>


    </tab>
    <tab>
      <tab-heading>
        <i class="fa-fw fa fa-code"></i>&nbsp; Script
      </tab-heading>

      SJSJSJSJSJ


    </tab>
    <tab>
      <tab-heading>
        <i class="fa-fw fa fa-group"></i>&nbsp; Users
      </tab-heading>

      Long Long
    </tab>


    <tab>
      <tab-heading>
        <i class="fa-fw fa fa-warning"></i>&nbsp; Errors
      </tab-heading>

      Long Long
    </tab>

    <tab>
      <tab-heading>
        <i class="fa-fw fa fa-exclamation"></i>&nbsp; Alerts
      </tab-heading>
      Long Long
    </tab>

  </tabset>


</div>

















</div>
</section>
