<section ng-controller="ProjectDetailStreamCtrl">

  <div class="wrapper-md">

    <ul class="timeline">

      <li class="tl-item tl-left" ng-repeat="herror in herrors track by herror._id">
        <div class="tl-wrap">

          <div class="tl-date">
            <div class="text-lt"><h5>{{herror.created| date:"MMMM d"}}</h5><h4><strong>{{herror.created| date:"H:mm"}}</strong></h4></div>
          </div>

          <div class="tl-content panel padder b-a block" style="padding-top:1px;padding-bottom:1px;">
            <span class="arrow left pull-up hidden-left"></span>
            <span class="arrow right pull-up visible-left"></span>
            <div class="text-lt m-b-sm">
              <h5>
                <strong>{{herror.errorType.message}} </strong>
                &nbsp;<span class="label bg-info">{{herror.errorType.type || 'CustomError'}} </span>
              </h5>
              <small class="text-muted box">
                <i class="fa fa-fw fa-clock-o"></i><span am-time-ago="herror.created"></span>
              </small>
              at <u>{{herror.errorType.context}}</u>
            </div>
            <div class="panel-body pull-in b-t b-light">
              <div class="row">
                <div class="col-xs-4">
                  <dl class="dl-horizontal">
                    <dt>Browser</dt>
                    <dd>{{herror.browser.name}} {{herror.browser.major}}</dd>
                    <dt>Device</dt>
                    <dd>{{herror.device}}</dd>
                    <dt>Client IP</dt>
                    <dd>{{herror.clientIp}}</dd>
                  </dl>
                </div>
                <div class="col-xs-8">
                  <dl class="dl-horizontal">
                    <dt>OS</dt>
                    <dd>{{herror.os.name}} {{herror.os.version}}</dd>
                    <dt>Timestamp</dt>
                    <dd>{{herror.created| date:"MM/dd/yyyy 'at' HH:mm:ss.sss"}}</dd>
                    <dt>lang</dt>
                    <dd>{{herror.language}}</dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <dl class="dl-horizontal">
                    <dt>User-Agent</dt>
                    <dd>{{herror.userAgent}}</dd>
                    <dt>Error line, col</dt>
                    <dd>{{herror.errorType.lineNo}}, {{herror.errorType.colNo}}</dd>
                    <dt>ErrorStack</dt>
                    <dd><code>{{herror.errorType.stack}}</code></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="tl-header" ng-show="moreVisible">
        <button class="btn btn-default btn-success" ng-click="showMoreErros()">
          more
        </button>
      </li>

      <li class="tl-item">
        <div class="tl-wrap"></div>
      </li>

      <li class="tl-header">
        <div class="btn btn-default" ng-click="showMoreErrors()">Start</div>
      </li>

    </ul>
  </div>

</section>
