<div class="streamline b-l b-info m-l-lg m-b padder-v">
  <div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="img/a9.jpg" class="img-circle" alt="...">
    </a>
    <div class="m-l-lg">
      <div class="m-b-xs">
        <a href class="h4">John smith</a>
        <span class="text-muted m-l-sm pull-right">
          Just now
        </span>
      </div>
      <div class="m-b">
        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
        <div class="m-t-sm">
          <a href class="text-muted m-xs"><i class="icon-action-redo"></i></a>
          <a href class="text-muted m-xs"><i class="icon-star"></i></a>
          <a href class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
        </div>
      </div>
    </div>
  </div>
  <!-- .comment-reply -->
  <div class="m-l-lg">
    <a class="pull-left thumb-sm avatar">
      <img src="img/a5.jpg" alt="...">
    </a>
    <div class="m-l-xxl panel b-a">
      <div class="panel-heading pos-rlt">
        <span class="arrow left pull-up"></span>
        <span class="text-muted m-l-sm pull-right">
          10m ago
        </span>
        <a href>Mika Sam</a>
        Report this comment is helpful
      </div>
    </div>
  </div>
  <!-- / .comment-reply -->
  <div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="img/a3.jpg" alt="...">
    </a>
    <div class="m-l-lg m-b-lg panel b-a bg-light lt">
      <div class="panel-heading pos-rlt b-light">
        <span class="arrow arrow-light left"></span>
        <a href>By me</a>
        <span class="text-muted m-l-sm pull-right">
          1h ago
        </span>
      </div>
      <div class="panel-body">
        <div>This comment was posted by you.</div>
      </div>
    </div>
  </div>
  <div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="img/a6.jpg" class="img-circle" alt="...">
    </a>
    <div class="m-l-lg m-b-lg">
      <div class="m-b-xs">
        <a href class="h4">Jessica</a>
        <span class="text-muted m-l-sm pull-right">
          3h ago
        </span>
      </div>
      <div class="m-b">
        <div class="m-b">Cecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
        <img src="img/c5.jpg" class="b b-a wrapper-xs bg-white img-responsive">
        <div class="m-t-sm">
          <a href class="text-muted m-xs"><i class="icon-action-redo"></i></a>
          <a href class="text-muted m-xs"><i class="icon-star"></i></a>
          <a href class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="img/a4.jpg" class="img-circle" alt="...">
    </a>
    <div class="m-l-lg m-b-lg">
      <div class="m-b-xs">
        <a href class="h4">Fisio</a>
        <span class="text-muted m-l-sm pull-right">
          4h ago
        </span>
      </div>
      <div>
        <div class="m-b">Diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
        <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
          <form>
            <textarea class="form-control no-border" rows="3" placeholder="Your comment..."></textarea>
          </form>
          <div class="panel-footer bg-light lter">
            <button class="btn btn-info pull-right btn-sm">Comment</button>
            <ul class="nav nav-pills nav-sm">
              <li><a href><i class="fa fa-camera text-muted"></i></a></li>
              <li><a href><i class="fa fa-video-camera text-muted"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
      <img src="img/a2.jpg" alt="...">
    </a>
    <div class="m-l-lg panel b-a">
      <div class="panel-heading pos-rlt b-b b-light">
        <span class="arrow left"></span>
        <a href>Peter</a>
        <label class="label bg-light m-l-xs">VIP</label>
        <span class="text-muted m-l-sm pull-right">
          9h ago
        </span>
      </div>
      <div class="panel-body">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
        <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit...</div>
      </div>
    </div>
  </div>
</div>
