<section  ng-controller="ProjectDetailSettingsBasicCtrl">

  <div class="panel b-a" style="margin-right:93px;">

    <div class="panel-body">

      <h3 class="m-t-none m-b font-thin">Project Information</h3>

      <div class="col-xs-11">

      <div class="form-horizontal">


        <div class="form-group">
          <label class="col-sm-3 control-label">Project Key </label>
          <div class="col-sm-6">
            <p class="form-control-static">
                  {{ project.projectKey }}
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Active</label>
          <div class="col-sm-4">
            <p class="form-control-static">
              <label class="i-switch">
                <input type="checkbox" ng-model="project.active">
              <i></i>
            </label>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Name </label>
          <div class="col-sm-4">
            <p class="form-control-static">
            	<a editable-text="project.name" e-required e-placeholder="Enter name">{{ project.name }}</a>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Project address</label>
          <div class="col-sm-4">
            <p class="form-control-static">
            	<a editable-text="project.address" e-required e-placeholder="Enter Address">{{ project.address || 'empty'}}</a>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">description (optional)</label>
          <div class="col-sm-8">
            <p class="form-control-static">
            	<a editable-text="project.description" e-style="width: 300px">{{ project.description || 'empty' }}</a>
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10 pull-right">
            <button class="btn btn-default text-uc" ng-click="delete()">Delete</button>
            <button class="btn btn-success text-uc" ng-click="save()">Save</button>
          </div>
        </div>


      </div>

    </div>


    </div>



  </div>




</section>
