<section  ng-controller="ProjectDetailSettingsScriptCtrl">

  <div class="panel b-a" style="margin-right:93px;">

    <div class="panel-body">

      <h3 class="m-t-none m-b font-thin">Script &amp; API Key Information</h3>

      <div class="col-xs-11">

      <div class="form-horizontal">


        <div class="form-group">
          <label class="col-sm-3 control-label">API Key </label>
          <div class="col-sm-6">
            <p class="form-control-static">
                  {{ project.apiKey }}
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Script URL </label>
          <div class="col-sm-6">
            <p class="form-control-static">
                  http://localhost:8080/projects/apikey
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Script </label>
          <div class="col-sm-4">
            <p class="form-control-static">
            	<a editable-text="project.name" e-required e-placeholder="Enter name">{{ project.name }}</a>
            </p>
          </div>
        </div>


        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10 pull-right">
            <button class="btn btn-success text-uc" ng-click="save()">Save</button>
          </div>
        </div>


      </div>

    </div>


    </div>



  </div>




</section>
