<section  ng-controller="ProjectDetailSettingsScriptCtrl">

  <div class="panel b-a" style="margin-right:93px;">

    <div class="panel-body">

      <h3 class="m-t-none m-b font-thin">Script &amp; API Key Information</h3>

      <div class="col-xs-11">

      <div class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-3 control-label">Host </label>
          <div class="col-sm-4">
            <p class="form-control-static">
            	<a editable-text="project.host" onaftersave="regenerateScriptCode()">{{ project.host }}</a>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">API Key </label>
          <div class="col-sm-6">
            <p class="form-control-static text-primary">
              {{ project.apiKey }}
              &nbsp;<button class="btn btn-sm btn-default btn-edit" ng-click="regenerateApiKey()"><i class="fa fa-refresh"></i> Regnerate</button>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Script Tag </label>
          <div class="col-sm-8">
            <pre class="form-control-static">&lt;script type="text/javascript" src="{{ project.host }}/api/projects/{{ project.projectKey}}/hakstrace.js"&gt;&lt;/script&gt;</pre>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Script Code </label>
          <div class="col-sm-8">
            <pre class="form-control-static">{{generatedScript.script}}</pre>
          </div>
        </div>


        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10 pull-right">
            <button class="btn btn-success text-uc" ng-click="save()">Save</button>
          </div>
        </div>


      </div>

    </div>


    </div>



  </div>




</section>
